{{ define "create" }}

    {{ template "header" }}

    <main class="main">
        <h1>
            Добавление трека/альбома
        </h1>
        <form action="/create_release" class="main_form">
            <select>
                <option>
                    Аккаунт
                </option>
            </select>
            <input type="text" name="title" placeholder="Название трека" class="form_title"><br>
            <input type="text" name="title_album" placeholder="Название альбома" class="form_title_album"><br>
            <input type="date" name="release_date" placeholder="Введите дату релиза" class="form_audio/mpeg"><br>
            <input type="file" name="mpeg" placeholder="мп3 файл" class="form_audio/mpeg"><br>

            <input type="range" name="nickname" placeholder="Ник автора" class="form_nickname" min="1" max="10" step="1"><br>
            <input type="range" name="title" placeholder="Название трека" class="form_title"><br>
            <input type="range" name="title_album" placeholder="Название альбома" class="form_title_album"><br>
            <input type="range" name="genre" placeholder="Введите жанр" class="form_audio/mpeg"><br>
            <input type="range" name="release_date" placeholder="Введите дату релиза" class="form_audio/mpeg"><br>
            <input type="range" name="mpeg" placeholder="мп3 файл" class="form_audio/mpeg"><br>
            <input type="range" name="mpeg" placeholder="мп3 файл" class="form_audio/mpeg"><br>

            <input type="range" name="release_date" placeholder="Введите дату релиза" class="form_audio/mpeg"><br>
            <input type="range" name="mpeg" placeholder="мп3 файл" class="form_audio/mpeg"><br>
            <input type="range" name="mpeg" placeholder="мп3 файл" class="form_audio/mpeg"><br>
            <button class="form_button">Добавить</button>
        </form>

    </main>

{{ end }}