{{ define "index" }}

<body class="body">

{{ template "header" }}

    <div class="main">
        <div class="panel">
            <div class="panel_name">
                <p class="panel_text">OOO GLEBUS</p>
            </div>
            <div class="panel__buttons">
                <div class="panel_authors">
                    <a href="#!" class="authors__link">
                        <svg class="authors__svg">
                            <use xlink:href="static/img/img__panel/svgs.svg#authors" class="authors__img"></use>
                        </svg>
                        РЕП ПЕВЦЫ
                    </a>
                </div>
                <div class="panel_beats">
                    <a href="#!" class="beats__link">
                        <svg class="beats__svg">
                            <use xlink:href="static/img/img__panel/svgs.svg#beats" class="beats__img"></use>
                        </svg>
                        БИТЫ
                    </a>
                </div>
                <div class="panel_tracks">
                    <a href="#!" class="tracks__link">
                        <svg class="tracks__svg">
                            <use xlink:href="static/img/img__panel/svgs.svg#tracks" class="tracks__img"></use>
                        </svg>
                        ТРЕКИ
                    </a>
                </div>
                <div class="panel__marks">
                    <a href="#!" class="marks__link">
                        <svg class="marks__svg">
                            <use xlink:href="static/img/img__panel/svgs.svg#marks" class="marks__img"></use>
                        </svg>
                        ОЦЕНКИ
                    </a>
                </div>
                <div class="panel__rating">
                    <a href="#!" class="rating__link">
                        <svg class="rating__svg">
                            <use xlink:href="static/img/img__panel/svgs.svg#rating" class="rating__img"></use>
                        </svg>
                        РЕЙТИНГ
                    </a>
                </div>
                <div class="panel__albums">
                    <a href="#!" class="albums__link">
                        <svg class="albums__svg">
                            <use xlink:href="static/img/img__panel/svgs.svg#albums" class="albums__img"></use>
                        </svg>
                        АЛЬБОМЫ
                    </a>
                </div>
                <div class="panel__aboutus">
                    <a href="#!" class="aboutus__link">
                        <svg class="aboutus__svg">
                            <use xlink:href="static/img/img__panel/svgs.svg#authors" class="aboutus__img"></use>
                        </svg>
                        О НАС
                    </a>
                </div>
                <div class="panel__kys">
                    <a href="#!" class="kys__link">
                        <svg class="kys__svg">
                            <use xlink:href="static/img/img__panel/svgs.svg#kys" class="kys__img"></use>
                        </svg>
                        ИДИ НАХУЙ
                    </a>
            </div>
            </div>
        </div>
        <div class="main__info">
            <div class="info__lastdrops">
                <div class="lastdrops__title">
                    ПОСЛЕДНИЕ ДРОПЫ
                </div>
                <ol class="lastdrops__wrapper--blocks">
                    <script src="static/scripts/lastdrops.js"></script>
                    <li class="lastdrops__blocks">
                        <div class="lastdrops__block__img--wrapper">
                            <img src="static/img/imgs__track/summer.png" />
                        </div>
                        <div class="lastdrops__text-block">
                            <div class="lastdrops__name">
                                <div class="lastdrops__block__title">
                                    {title}
                                </div>
                                <div class="lastdrops__block__authors">
                                    {authors}
                                </div>
                            </div>
                            <div class="lastdrops__block__rating">
                                {count}
                            </div>
                        </div>
                    </li>
                    <li class="lastdrops__blocks">
                        <div class="lastdrops__block__img--wrapper">
                            <img src="static/img/imgs__track/summer.png" />
                        </div>
                        <div class="lastdrops__text-block">
                            <div class="lastdrops__name">
                                <div class="lastdrops__block__title">
                                    {title}
                                </div>
                                <div class="lastdrops__block__authors">
                                    {authors}
                                </div>
                            </div>
                            <div class="lastdrops__block__rating">
                                {count}
                            </div>
                        </div>
                    </li>
                    <li class="lastdrops__blocks">
                        <div class="lastdrops__block__img--wrapper">
                            <img src="static/img/imgs__track/summer.png" />
                        </div>
                        <div class="lastdrops__text-block">
                            <div class="lastdrops__name">
                                <div class="lastdrops__block__title">
                                    {title}
                                </div>
                                <div class="lastdrops__block__authors">
                                    {authors}
                                </div>
                            </div>
                            <div class="lastdrops__block__rating">
                                {count}
                            </div>
                        </div>
                    </li>
                    <li class="lastdrops__blocks">
                        <div class="lastdrops__block__img--wrapper">
                            <img src="static/img/imgs__track/summer.png" />
                        </div>
                        <div class="lastdrops__text-block">
                            <div class="lastdrops__name">
                                <div class="lastdrops__block__title">
                                    {title}
                                </div>
                                <div class="lastdrops__block__authors">
                                    {authors}
                                </div>
                            </div>
                            <div class="lastdrops__block__rating">
                                {count}
                            </div>
                        </div>
                    </li>
                </ol>
            </div>
            <div class="info__top_albums">
                <div class="top_albums__title">
                    ТОП - 3 АЛЬБОМА
                </div>
                <ol class="lastdrops__wrapper--blocks">
                    <script src="static/scripts/lastdrops.js"></script>
                    <li class="lastdrops__blocks">
                        <div class="lastdrops__block__img--wrapper">
                            <img src="static/img/imgs__track/summer.png" />
                        </div>
                        <div class="lastdrops__text-block">
                            <div class="lastdrops__name">
                                <div class="lastdrops__block__title">
                                    {title}
                                </div>
                                <div class="lastdrops__block__authors">
                                    {authors}
                                </div>
                            </div>
                            <div class="lastdrops__block__rating">
                                {count}
                            </div>
                        </div>
                    </li>
                    <li class="lastdrops__blocks">
                        <div class="lastdrops__block__img--wrapper">
                            <img src="static/img/imgs__track/summer.png" />
                        </div>
                        <div class="lastdrops__text-block">
                            <div class="lastdrops__name">
                                <div class="lastdrops__block__title">
                                    {title}
                                </div>
                                <div class="lastdrops__block__authors">
                                    {authors}
                                </div>
                            </div>
                            <div class="lastdrops__block__rating">
                                {count}
                            </div>
                        </div>
                    </li>
                    <li class="lastdrops__blocks">
                        <div class="lastdrops__block__img--wrapper">
                            <img src="static/img/imgs__track/summer.png" />
                        </div>
                        <div class="lastdrops__text-block">
                            <div class="lastdrops__name">
                                <div class="lastdrops__block__title">
                                    {title}
                                </div>
                                <div class="lastdrops__block__authors">
                                    {authors}
                                </div>
                            </div>
                            <div class="lastdrops__block__rating">
                                {count}
                            </div>
                        </div>
                    </li>
                    <li class="lastdrops__blocks">
                        <div class="lastdrops__block__img--wrapper">
                            <img src="static/img/imgs__track/summer.png" />
                        </div>
                        <div class="lastdrops__text-block">
                            <div class="lastdrops__name">
                                <div class="lastdrops__block__title">
                                    {title}
                                </div>
                                <div class="lastdrops__block__authors">
                                    {authors}
                                </div>
                            </div>
                            <div class="lastdrops__block__rating">
                                {count}
                            </div>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>

</body>

</html>
<!-- ??\\\\ вывсети сотрудинков кооторые работают в этотйо организации 
    вывести мужчин 18+ -->
{{ end }}